body,
html {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//TODO: Import abstracts, mixins, utilities, variables
@import "./abstracts//mixins.scss";
@import "./abstracts//palette.scss";
@import "./abstracts//utility.scss";
//TODO: Import pages

//TODO: Import Components
@import "./components//navbar/navbar.scss";
@import "./components//footer/footer.scss";
@import "./components//hero/hero.scss";
@import "./components//projects/project.scss";
@import "./components//skills/skills.scss";
@import "./components//buttons/buttons.scss";