/*
MEDIA QUERIES MIXINS
-Use EM, 16px = 1em
-Breakpoints  include:
-phone
-tablet(port)
-tablet(land)
-desktop
-desktop(large)ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
.color-primary {
  color: #00BFB2;
  padding: 0 .8rem; }

.about {
  background-color: #834bff;
  padding: 5rem 1rem;
  text-align: center;
  overflow: hidden; }
  .about__container {
    padding: 2.5rem 1rem 6rem;
    width: 85vw;
    color: white;
    margin: 0 auto;
    text-align: center;
    min-height: 400px;
    position: relative; }
    .about__container h2 {
      font-weight: 700;
      text-align: center;
      letter-spacing: -.05rem;
      font-size: 3rem;
      width: 90%;
      margin: 0 auto 1.5rem; }
    .about__container p {
      line-height: 165%;
      width: 90%;
      margin: 0 auto;
      font-size: 1.5rem;
      font-weight: 450; }
  .about__btn--resume {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1rem;
    margin: 3rem auto;
    width: 25%;
    color: #fff;
    letter-spacing: 0.1rem;
    padding: 1.2rem 0.6rem;
    border-radius: 25px;
    border: 2px solid #EE4266;
    background-color: rgba(238, 66, 102, 0.2);
    transition: 0.3s all ease;
    box-shadow: 3.4px 5px 40px rgba(0, 0, 0, 0.4); }
    .about__btn--resume:hover {
      border-color: #fff;
      color: #EE4266;
      box-shadow: 0.1rem 2rem 4rem rgba(0, 0, 0, 0.4);
      transition: 0.3s all ease; }
    .about__btn--resume:focus {
      transition: 0.3s all ease;
      box-shadow: none;
      color: white; }

#parent {
  position: relative; }

.aboutCard {
  padding: 1.5rem;
  width: 85vw;
  margin: 0 auto;
  min-height: 1150px;
  height: 100%;
  max-height: 2500px;
  padding-bottom: 4rem;
  margin-top: -12rem;
  z-index: 1500;
  border-radius: 1.5rem;
  background-color: white;
  display: block;
  margin-bottom: 8rem;
  box-shadow: 0.05rem 1.5rem 2.5rem rgba(0, 0, 0, 0.4);
  transition: 0.2s all ease; }
  .aboutCard:hover {
    box-shadow: 0.1rem 2rem 4rem rgba(0, 0, 0, 0.4); }
  .aboutCard__container {
    padding: 2rem 1rem;
    height: 100%; }
    .aboutCard__container p {
      width: 80%;
      margin: 0 auto;
      font-weight: 350;
      font-size: 1.7rem;
      text-align: center;
      padding: 2rem 1rem; }
  .aboutCard__col {
    text-align: center; }
    .aboutCard__col h3 {
      color: #00BFB2;
      margin-top: 3rem;
      font-size: 1.9rem;
      letter-spacing: 0.05rem;
      font-weight: 700;
      font-family: "Raleway Bold", sans-serif; }
    .aboutCard__col ul {
      padding-left: 0;
      line-height: 150%;
      text-align: center;
      list-style: none;
      min-height: 200px;
      height: 100%;
      max-height: 250px; }
      .aboutCard__col ul li {
        line-height: 170%;
        font-size: 1.6rem;
        font-weight: 300;
        letter-spacing: 0.15rem; }
  .aboutCard i {
    font-size: 4.8rem;
    color: #834bff; }

.footer {
  position: relative;
  -webkit-animation-duration: 0.8s; }
  .footer__container {
    margin: 0 auto;
    text-align: center;
    min-height: 350px;
    height: 100%;
    max-height: 450px;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: #1B242F; }
  .footer__arrow {
    border: 5px solid red;
    z-index: 1000;
    font-size: 4rem;
    font-weight: 700;
    color: white;
    padding: 1.2rem 2.3rem;
    position: absolute;
    background-color: #EE4266;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -240%);
    z-index: 5; }
    @media only screen and (max-width: 65.63em) {
      .footer__arrow {
        transform: translate(-50%, -270%); } }
    @media only screen and (max-width: 55em) {
      .footer__arrow {
        transform: translate(-50%, -250%); } }
    @media only screen and (max-width: 30em) {
      .footer__arrow {
        transform: translate(-50%, -275%); } }
  .footer__copyright {
    display: block;
    color: white;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
    flex: 1 0 80%;
    padding: 1rem 1rem 0.4rem;
    margin-top: 0;
    margin-bottom: 0; }
  .footer__logo-img {
    margin: 0.8rem 1.5%;
    padding: 1.5rem 0.2rem;
    background-color: #262F38;
    font-size: 4.25rem;
    color: white;
    flex: 1 0 15%;
    max-width: 15%;
    display: inline-block;
    transition: all 0.4s ease; }
    @media only screen and (max-width: 30em) {
      .footer__logo-img {
        max-width: 47.5%;
        flex: 1 0 47.5%;
        margin: 0; } }
    .footer__logo-img:not(:last-child) {
      margin-right: 0; }
    .footer__logo-img--1:hover {
      color: #007bb5;
      background-color: rgba(0, 123, 181, 0.2); }
    .footer__logo-img--2:hover {
      color: #6e5494;
      background-color: rgba(110, 84, 148, 0.2); }
    .footer__logo-img--3:hover {
      color: #ff3c41;
      background-color: rgba(255, 60, 65, 0.2); }
    .footer__logo-img--4:hover {
      color: #c32aa3;
      background-color: rgba(195, 42, 163, 0.2); }
  .footer__logo-container {
    width: 85vw;
    display: flex;
    flex-direction: row; }

.hero-video {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  z-index: 100;
  opacity: 1;
  overflow: hidden;
  background-color: #00BFB2; }
  .hero-video__content {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    object-fit: cover;
    opacity: 0.3;
    z-index: -99; }

.hero__content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 40vh; }
  @media only screen and (max-width: 49em) {
    .hero__content {
      width: 90vw; } }
  @media only screen and (max-width: 49em) {
    .hero__content {
      height: 45vh; } }
  .hero__content h1 {
    letter-spacing: 0.1rem;
    font-size: 5rem;
    font-family: "Raleway Bold", sans-serif;
    font-weight: 700; }
    @media only screen and (max-width: 55em) {
      .hero__content h1 {
        font-size: 4.5rem; } }
    .hero__content h1 span {
      color: red;
      padding-left: 1.2rem; }
  .hero__content h2 {
    margin-top: -3rem;
    font-size: 4.25rem;
    letter-spacing: 0.1rem; }
  .hero__content h1,
  .hero__content h2 {
    color: white; }
  .hero__content button {
    margin-top: -1rem;
    outline: none;
    background-color: transparent;
    border: 3px solid white;
    padding: 1.4rem 1.2rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    color: white;
    width: 30%;
    font-size: 2.4rem;
    font-weight: 500;
    transition: 0.2s all ease-out; }
    @media only screen and (max-width: 49em) {
      .hero__content button {
        width: 50%; } }
    .hero__content button:hover {
      transition: 0.2s all ease-in;
      background-color: #1B242F;
      color: #EE4266;
      border: 3px solid transparent;
      font-weight: 700; }

.project {
  margin: 4rem auto 0;
  width: 85vw;
  min-height: 1100px;
  height: 100%;
  max-height: 2500px;
  padding: 2rem;
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 7rem;
  box-shadow: 0.05rem 1.5rem 2.5rem rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  transition: 0.2s all ease; }
  @media only screen and (max-width: 49em) {
    .project {
      max-height: 4000px; } }
  .project:hover {
    box-shadow: 0.1rem 2rem 4rem rgba(0, 0, 0, 0.4);
    transition: 0.2s all ease; }
  .project h2 {
    font-size: 2.4rem; }
  .project--header {
    padding: 1rem auto;
    font-size: 2.6rem;
    letter-spacing: 0.1rem;
    font-weight: 500; }
  .project--sub {
    line-height: 150%;
    font-weight: 400;
    margin: 0 auto 6rem;
    width: 70%;
    font-size: 1.6rem; }
    .project--sub a {
      padding-left: 0.8rem; }
  .project img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    position: relative;
    border: 2px solid black;
    z-index: -50; }
  .project__parent {
    position: relative; }
  .project__overlay {
    transition: 0.2s all ease;
    height: 400px; }
    @media only screen and (max-width: 30em) {
      .project__overlay {
        margin: 0.4rem auto; } }
    @media only screen and (min-width: 20em) and (max-width: 29em) {
      .project__overlay {
        margin: 1rem auto; } }
    .project__overlay--caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      visibility: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .project__overlay--caption h3 {
        font-size: 2.4rem; }
      .project__overlay--caption a {
        margin: 0 auto;
        width: 50%;
        padding: 0.8rem 0.3rem;
        font-size: 1.4rem;
        margin-top: 1rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        border: 2px solid #EE4266; }
        .project__overlay--caption a:hover {
          color: white;
          background-color: rgba(238, 66, 102, 0.6);
          transition: 0.1s all ease-in; }
      .project__overlay--caption-tags {
        opacity: 0;
        visibility: hidden; }
        .project__overlay--caption-tags p {
          font-size: 1.6rem;
          letter-spacing: 0.01rem;
          padding: 0.3rem 0.4rem;
          color: #EE4266;
          font-weight: 400;
          color: #EE4266; }
          @media only screen and (max-width: 49em) {
            .project__overlay--caption-tags p {
              font-size: 1.5rem;
              font-weight: 500; } }
    .project__overlay:hover div {
      background-color: white;
      visibility: visible;
      transition: 0.7s all ease; }
      .project__overlay:hover div .project__overlay--caption-tags {
        visibility: visible;
        opacity: 1;
        transition: 0.7s all ease; }
    .project__overlay:not(:hover) div {
      visibility: hidden;
      opacity: 0;
      transition: 0.7s all ease; }
  .project__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 28.5%;
    padding: 0.9rem 1.2rem;
    color: #00BFB2;
    font-size: 2.1rem;
    letter-spacing: 0.1rem;
    background-color: rgba(131, 75, 255, 0.1);
    border: 2px solid #834bff;
    margin: 4.5rem auto;
    border-radius: 25px;
    transition: 0.3s all ease;
    box-shadow: 4px 5px 40px rgba(0, 0, 0, 0.6); }
    @media only screen and (max-width: 49em) {
      .project__btn {
        width: 55.5%; } }
    .project__btn:hover {
      transition: 0.3s all ease;
      color: #fff;
      width: 31.5%;
      background-color: rgba(0, 191, 178, 0.3);
      border-color: #00BFB2; }
      @media only screen and (max-width: 49em) {
        .project__btn:hover {
          width: 62%; } }
    .project__btn i {
      padding: 0 2.5%; }
    .project__btn--2 {
      justify-content: center;
      width: 20%;
      border: 2px solid #00BFB2;
      color: white;
      background-color: rgba(0, 191, 178, 0.2); }
      @media only screen and (max-width: 49em) {
        .project__btn--2 {
          width: 50%; } }
      .project__btn--2:hover {
        transition: 0.3s all ease;
        color: #fff;
        width: 23.25%;
        background-color: rgba(0, 191, 178, 0.3);
        border-color: #fff; }
        @media only screen and (max-width: 49em) {
          .project__btn--2:hover {
            width: 55%; } }

.dialog {
  overflow: hidden; }
  .dialog__container {
    min-height: 150px;
    height: 100%;
    max-height: 185px;
    overflow: hidden; }
    .dialog__container--text {
      line-height: 100%;
      padding: 0.5rem;
      text-align: left; }
      .dialog__container--text--header {
        font-size: 2.2rem; }
      .dialog__container--text--sub {
        font-size: 2rem;
        color: #00BFB2; }
      .dialog__container--text--p {
        line-height: 150%;
        font-size: 1.6rem;
        font-weight: 400; }
    .dialog__container--action {
      padding: 1rem 1rem 1.5rem;
      justify-content: flex-start;
      flex-wrap: wrap; }
      .dialog__container--action--btn {
        background-color: #00BFB2; }
        .dialog__container--action--btn:hover {
          background-color: rgba(0, 191, 178, 0.6); }
  .dialog__link {
    padding: 1.2rem 1.4rem; }

.carousel {
  padding: 1rem;
  height: 100%;
  overflow: hidden;
  max-width: 450px;
  flex-grow: 1;
  width: 100%;
  margin: 0 auto; }
  .carousel__close {
    border: 2px solid black;
    padding: 0.2rem;
    border-radius: 1rem;
    transition: 0.2s all ease-in-out; }
    .carousel__close:hover {
      transition: 0.2s all ease-in;
      color: #EE4266;
      border-color: #EE4266; }
  .carousel__label {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    color: #00BFB2;
    font-family: "Raleway Bold", sans-serif;
    padding: 0; }

.contact {
  padding: 5rem 2rem;
  width: 100%;
  background-color: #ff3c41;
  max-width: 85vw;
  color: black;
  min-height: 400px;
  height: 100%;
  max-height: 500px;
  margin: 0 auto;
  text-align: center; }
  .contact__container {
    width: 85vw;
    height: 100%;
    margin: 0 auto;
    padding: 1.5rem; }
  .contact h2 {
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem; }
  .contact a {
    color: #834bff;
    padding-left: 0.5rem; }

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Raleway Bold", sans-serif; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 30em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 55em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 76.25%; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway Bold", sans-serif; }

a,
button {
  text-decoration: none;
  font-family: "Raleway Bold", sans-serif; }

p {
  font-family: "PT Sans Bold", serif;
  font-size: 1.4rem;
  font-weight: 450;
  line-height: 150%; }
