$palette-primary:#00BFB2;
$palette-secondary:#1de9b6;
//$palette-tertiary:#;

//$ Footer:
$palette-footer: #1B242F;
$color-footer-secondary:#262F38;

//$ Common
$palette-white:#fff;
$palette-black:#000;
$palette-gray:#ddd;

//$ Social
$palette-github:#6e5494;
$palette-linkedin:#007bb5;
$palette-codepen:#ff3c41;
$palette-instagram:#c32aa3;
$palette-facebook:#3b5998;
$palette-youtube:#ff0000;

