//$ BOX-SHADOW
$box-shadow-primary:.1rem 2rem 4rem rgba($palette-black, .4);
$box-shadow-secondary:.05rem 1.5rem 2.5rem rgba($palette-black, .4);


//$ Grid related
$grid-width:82.5vw;


//$ Font
$font-primary:"Raleway",
sans-serif;
$font-secondary:"Raleway",
sans-serif;