.project {

    margin: 0 auto;
    width: $grid-width;

    border: $border-test;

    min-height: 700px;
    height: 100%;
    max-height: 1100px;
    padding: 2rem;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 4rem;

    border-radius: 15px;
    h2 {
        font-size: 2.4rem;

    }

    //$ Project related shit

    img {
        width: 100%;

        height: 100%;
        max-height: 400px;
        position: relative;
        border: $border-test;

        z-index: -50;
    }

    &__parent {
        position: relative;
    }

    &__overlay {

        transition: 0.2s all ease;

        &--caption {
            @include absCenter;
            display: none;
            visibility: hidden;
            transition: 0.2s all ease-out;
            border: $border-test-3;
            height: 100%;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                font-size: 2rem;
            }

            //$ Button
            a {}

            //$ Tags container
            &-tags {

                display: flex;
                flex-wrap: wrap;
                width: 95%;
                margin: 0 auto;

                justify-content: space-around;

                //$ Label
                p {
                    border: $border-test;
                    padding: 0.6rem 0.4rem;
                    color: $palette-secondary;
                    font-weight: 400;
                }
            }
        }
        &:hover {
            & div {

                background-color: rgba($palette-secondary, .4);

                //   display: block;
                visibility: visible;
                transition: 0.2s all ease-in;

            }
        }

    }

}
