.project {

    margin: 4rem auto 0;
    width: $grid-width;

    min-height: 1100px;
    height: 100%;
    max-height: 2500px;
    @include respond(phone-large) {
        max-height: 4000px;
    }

    padding: 2rem;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 7rem;
    box-shadow: $box-shadow-secondary;
    border-radius: 15px;

    //hover; make box shadow larger

    transition: 0.2s all ease;
    &:hover {
        box-shadow: $box-shadow-primary;
        transition: 0.2s all ease;
    }

    h2 {
        font-size: 2.4rem;

    }

    //$ Header text
    &--header {
        padding: 1rem auto;
        font-size: 2.6rem;
        letter-spacing: 0.1rem;
        font-weight: 500;
    }

    //$ Under test
    &--sub {
        line-height: 150%;
        font-weight: 400;
        margin: 0 auto 6rem;
        width: 70%;
        font-size: 1.6rem;
        a {
            padding-left: 0.8rem;
        }
    }

    //$ Project related shit

    img {
        width: 100%;

        height: 100%;
        max-height: 400px;
        position: relative;
        border: $border-test;

        z-index: -50;
    }

    &__parent {
        position: relative;
    }

    &__overlay {

        transition: 0.2s all ease;
        height: 400px;
        @include respond(phone) {
            margin: 0.4rem auto;
        }
        @include respond(phone-small) {
            margin: 1rem auto;
        }
        //TODO: Edit height for responsive design
        &--caption {
            @include absCenter;
            //$ Control hidden
            display: none;
            visibility: hidden;

            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                font-size: 2.4rem;
            }

            //$ Button
            a {

                margin: 0 auto;
                width: 50%;
                padding: 0.8rem 0.3rem;
                font-size: 1.4rem;
                margin-top: 1rem;
                letter-spacing: 0.1rem;

                text-transform: uppercase;
                border: 2px solid $palette-secondary;
                &:hover {

                    color: white;
                    background-color: rgba($palette-secondary,.6);
                    transition: 0.1s all ease-in;
                }
            }

            //$ Tags container
            &-tags {
                opacity: 0;
                visibility: hidden;
                display: flex;
                justify-content: space-around;
                //$ Label
                p {

                    font-size: 1.6rem;
                    letter-spacing: 0.01rem;
                    padding: 0.3rem 0.4rem;
                    color: $palette-secondary;
                    font-weight: 400;
                    color: $palette-secondary;
                    @include respond(phone-large) {
                        font-size: 1.5rem;
                        font-weight: 500;
                    }

                }
                @include respond(phone-large) {}

            }
        }
        &:hover {

            & div {

                background-color: white;
                visibility: visible;
                transition: 0.7s all ease;

                //$ Show the tags prevent delay
                .project__overlay--caption-tags {
                    visibility: visible;
                    opacity: 1;
                    transition: 0.7s all ease;
                }

            }
        }
        &:not(:hover) {
            & div {
                visibility: hidden;
                opacity: 0;
                transition: 0.7s all ease;
            }
        }

    }

    //Github button
    &__btn {

        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;
        width: 28.5%;
        padding: 0.9rem 1.2rem;
        color: $palette-primary;
        font-size: 2.1rem;
        letter-spacing: 0.1rem;

        background-color: rgba($palette-tertiary,.1);
        border: 2px solid $palette-tertiary;
        margin: 4.5rem auto;
        border-radius: 25px;

        transition: 0.3s all ease;
        box-shadow: 4px 5px 40px rgba($palette-black,.6);
        @include respond(phone-large) {
            width: 55.5%;
        }
        &:hover {

            transition: 0.3s all ease;
            color: $palette-white;
            width: 31.5%;
            background-color: rgba($palette-primary,.3);
            border-color: $palette-primary;
            @include respond(phone-large) {
                width: 62%;
            }
        }

        //$ Target the FA icon
        & i {
            padding: 0 2.5%;
        }

        &--2 {
            justify-content: center;
            width: 20%;
            border: 2px solid $palette-primary;
            color: white;
            background-color: rgba($palette-primary,.2);
            @include respond(phone-large) {
                width: 50%;
            }
            &:hover {

                transition: 0.3s all ease;
                color: $palette-white;
                width: 23.25%;
                background-color: rgba($palette-primary,.3);
                border-color: $palette-white;
                @include respond(phone-large) {
                    width: 55%;
                }
            }
        }
    }

}
