.hero {

    &-video {
        position: relative;
        top: 0;
        left: 0;
        min-height: 100vh;
        height: 100%;
        width: 100%;
        z-index: 100;
        opacity: 1;
        overflow: hidden;

        background-color: $palette-primary;
        &__content {

            height: 100%;
            width: 100%;
            min-height: 100vh;
            min-width: 100vw;
            object-fit: cover;
            opacity: 0.3;
            z-index: -99;
        }
    }

    //$ Hero Content sass

    &__content {
        @include heroCenter;
        z-index: 100;

        width: $grid-width;
        display: flex;
        flex-direction: column;

        align-items: center;
        text-align: center;
        height: 40vh;
        //$Header
        h1 {
            letter-spacing: 0.1rem;
            font-size: 5rem;
            font-family: $font-primary;
            font-weight: 700;

            span {
                color: red;
                padding-left: 1.2rem;
            }
        }
        //$ Subheader
        h2 {
            margin-top: -3rem; //note: Move subheader higher 
            font-size: 4.25rem;
            letter-spacing: 0.1rem;
        }

        h1,
        h2 {
            color: white;
        }
        //$ button
        button {

            margin-top: -1rem; //note: Scoot closer
            outline: none;
            background-color: transparent;
            border: 3px solid white;
            padding: 1.4rem 1.2rem;
            text-transform: capitalize;
            letter-spacing: 0.1rem;
            color: white;
            width: 30%;
            font-size: 2.4rem;
            font-weight: 500;

            transition: 0.2s all ease-out;
            &:hover {
                transition: 0.2s all ease-in;
                background-color: $palette-footer;
                color: $palette-secondary;
                border:3px solid transparent;
                font-weight: 700;
            }

        }
        //$ btn
    }

}
