.about {

    background-color: $palette-tertiary;

    padding: 5rem 1rem;
    text-align: center;
    overflow: hidden;

    &__container {

        padding: 2.5rem 1rem 6rem;
        width: $grid-width;
        color: white;
        margin: 0 auto; // * Center
        text-align: center;
        min-height: 400px;
        position: relative;
        //$ The caption
        h2 {

            //font-family: 'Playfair Display';
            font-weight: 700;
            text-align: center;
            letter-spacing: -.05rem;
            font-size: 3rem;

            width: 90%;
            margin: 0 auto 1.5rem;
        }
        p {

            line-height: 165%;
            width: 90%;
            margin: 0 auto;
            font-size: 1.5rem;
            font-weight: 450;

        }
    }

    //! About Card CSS

}

#parent {

    position: relative;
}
.aboutCard {

    padding: 1.5rem;
    width: $grid-width;
    margin: 0 auto;
    min-height: 1000px;
    height: 100%;
    max-height: 2500px;
    padding-bottom: 4rem;

    box-shadow: $box-shadow-primary;
    margin-top: -12rem;
    z-index: 1500;
    border-radius: 1.5rem;
    background-color: white;
    display: block;
    margin-bottom: 8rem;

    &__container {

        padding: 1rem;
        height: 100%;

        p {
            width: 80%;
            margin: 0 auto;
            font-weight: 350;
            font-size: 1.7rem;
            text-align: center;
            padding: 2rem 1rem;
        }
    }

    &__col {

        text-align: center;
        h3 {

            color: $palette-primary;
            margin-top: 3rem;
            font-size: 1.9rem;
            //border-bottom: 3px solid $palette-secondary;
            letter-spacing: 0.05rem;
            font-weight: 700;
            font-family: $font-primary;

        }

        ul {
            padding-left: 0;
            line-height: 150%;
            text-align: center;
            list-style: none;
            min-height: 200px;
            height: 100%;
            max-height: 250px;
            li {
                line-height: 170%;
                font-size: 1.6rem;
                font-weight: 300;
                letter-spacing: 0.15rem;
            }
        }
    }

    //NOTE: RESUME BUTTON
    &__btn {
        &--resume {
            margin: 1.5rem auto;
            width: 30%;
            border: 2px solid teal;
        }
    }

    //NOTE: FONT AWESOME
    i {
        font-size: 4.8rem;
        color: $palette-tertiary;

    }

}
