
.dialog {

    //$ Main container for content
    &__container {

        border: $border-test;

        padding: 1rem;
        height: 400px;
        overflow: hidden;

        //$ ACtion
        &--action {
            border: $border-test;
            justify-content: flex-start;
            width: 80%;

            //$ Stytle the button; change the background color
            &--btn {

                background-color: $palette-primary;
            }
        }
    }
}

.carousel {

    border: $border-test-2;
}
