
.dialog {

    &__carousel {
        border: 3px solid $palette-secondary;
        padding: 1rem;
    }

    //$ Main container for content
    &__container {

      

        //Note Dimensions
        min-height: 150px;
        height: 100%;
        max-height: 185px;

        overflow: hidden;

        //$ Title
        &--text {
            border: $border-test-3;
            line-height: 100%;
            padding: 0.5rem;
            text-align: left;
            &--header {
                font-size: 2.2rem;
            }

            &--sub {
                font-size: 2rem;
            }

            &--p {
                line-height: 150%;
                font-size: 1.6rem;
                font-weight: 400;
            }
        }

        //$ ACtion
        &--action {
            padding: 0 1rem 1.5rem;
            justify-content: flex-start;

            flex-wrap: wrap;
            //$ Stytle the button; change the background color
            &--btn {

                background-color: $palette-primary;

                //$ Hover a action item button in the dialog
                &:hover {
                    background-color: rgba($palette-primary,.6);
                }
            }
        }
    }
}

.carousel {

 
}
