
.dialog {

    //$ Main container for content
    &__container {

        border: $border-test;

        padding: 1rem;
        height: 400px;
        overflow: hidden;

        //$ ACtion
        &--action {
            border: $border-test;
            justify-content: flex-start;
        }
    }
}

.carousel {

    border: $border-test-2;
}
