.hero-video {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  z-index: 100;
  opacity: 1;
  overflow: hidden;
  background-color: #834bff; }
  .hero-video__content {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    object-fit: cover;
    opacity: 0.3;
    z-index: -99; }

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 82.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 40vh; }
  .hero__content h1 {
    letter-spacing: 0.1rem;
    font-size: 60px;
    font-family: "Raleway", sans-serif;
    font-weight: 700; }
    .hero__content h1 span {
      color: red;
      padding-left: 12px; }
  .hero__content h2 {
    margin-top: -30px;
    font-size: 52.5px;
    letter-spacing: 0.1rem; }
  .hero__content h1,
  .hero__content h2 {
    color: white; }
  .hero__content button {
    margin-top: -10px;
    outline: none;
    background-color: transparent;
    border: 3px solid white;
    padding: 14px 12px;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    color: white;
    width: 35%;
    font-size: 28px;
    font-weight: 300;
    transition: 0.2s all ease-out; }
    .hero__content button:hover {
      transition: 0.2s all ease-in;
      background-color: #1B242F;
      color: #EE4266;
      border-color: #EE4266;
      font-weight: 700; }

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif; }

a,
button {
  text-decoration: none;
  font-family: "Raleway", sans-serif; }

p {
  font-family: "Lusitana", serif; }
